if SHIELD_ZEUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Zeus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ZEUS_LEFT

if SHIELD_ZEUS_LEFT || SHIELD_ZEUS_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ZEUS_LEFT || SHIELD_ZEUS_RIGHT
